body {
    padding-top: 50px;
}

.navbar-brand>img {
    margin-top: -7px;
}
.message-container .message:nth-child(odd) {
    background-color: #eee;
}

#mainView {
    clear: both;
    padding: 0 1em;
}

.header div {
    font-weight: bold;
    display: inline-block;
}


.container-table {
    display: table;
}

.row {
    margin-top: 5px;
    margin-bottom: 5px;
    display: table-row;
    vertical-align: middle;
}

.row div {
    margin-top: 3px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.row .cell {
    display: table-cell;
}

.button-actions {
    margin: auto;
    text-align: center;
}

